APP_NAME=Vesper Look
APP_ENV=production
APP_KEY=base64:M+08Eo8ZfA4trnTLJs0FLVRV5eyuLVsgAzXTDZA4RtQ=
APP_DEBUG=false
APP_URL=https://yourdomain.com
APP_TIMEZONE=UTC
APP_LOCALE=en
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1        # or your live DB host
DB_PORT=3306
DB_DATABASE=vesper_look  # live database name
DB_USERNAME=root          # live DB user
DB_PASSWORD=your_db_password

SESSION_DRIVER=database
SESSION_LIFETIME=120

CACHE_DRIVER=database

QUEUE_CONNECTION=database

FILESYSTEM_DISK=public

MAIL_MAILER=smtp
MAIL_HOST=smtp.yourdomain.com
MAIL_PORT=465
MAIL_USERNAME=support@yourdomain.com
MAIL_PASSWORD="YOUR_SECURE_PASSWORD"
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=support@yourdomain.com
MAIL_FROM_NAME="Vesper Look"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
